{% extends "base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}
<title>{% if category %}{{ category.name }}{% else %}Products{% endif %}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class=" nav nav-list">Categories</li>
              <li {% if not category %}class="selected"{% endif %} >
                    <a href="{% url "shop:product_list" %}">全部</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %} >
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
        <h2>{% if category %}{{ category.name }}{% else %}商品{% endif %}</h2>
          <div class="row-fluid">
          {% for product in products %}
            <div class="span4">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ MEDIA_URL }}{{ product.image }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="img-rounded" width="200" height="200">
                </a>
                <br>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div><!--/span-->
          {% endfor %}
          {% if products.has_next %}
          <p class="pagination">
              <a class="next_page" href="">a</a>
          </p>
          {% endif %}
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
    </div>
{% endblock %}
{% block script %}
<script src="{% static "js/jquery.jscroll.js" %}"></script>
{% endblock %}
