<!DOCTYPE html>
{% load staticfiles %}
{% load blog_tags %}
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Title</title>{%  endblock %}
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://v2.bootcss.com/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static "css/docs.css" %}"></script>
    <script src="{% static "css/site.css" %}"></script>
    <script src="http://v3.bootcss.com/assets/css/patch.css"></script>
    <script src="http://v3.bootcss.com/assets/js/docs.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block style %}<style></style>{% endblock style %}
    {% block js %}{% endblock %}
    </head>

    <body>

    <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">yanchaomin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'blog:index' %}">主页</a></li>
            <li><a href="{% url 'blog:tag_list' %}">Tag</a></li>
            <li><a href="#about">xxoo</a></li>
            <li><a href="{% url 'shop:product_list' %}">Shop</a></li>
            <li><a href="{% url 'blog:about_me' %}">关于</a></li>

            <li class="dropdown  dropdown-menu-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    账户
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu ">
                  {% if request.user.is_authenticated %}
                    <li><a href="{% url 'about:profile' %}"><i class="glyphicon glyphicon-user"></i>个人中心</a></li>
                    <li><a href="{% url 'about:logout' %}"><i class="glyphicon glyphicon-off"></i>退出</a></li>
                  {% else %}
                    <li><a href="{% url 'about:register' %}">注册</a></li>
                    <li><a href="{% url 'about:login' %}">登录</a></li>
                  {% endif %}
                </ul>
            </li>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    {% block content %}{% endblock %}
    </div><!-- /.container -->

    <div class="footer">
        <div class="container ">
            <a href="">baidu</a>
        </div>
    </div>

    <script src="http://v3.bootcss.com/assets/js/docs.min.js"></script>
    <script src="{% static "js/site.js" %}"></script>
    {% block script %}
    <script ></script>
    {% endblock %}
    </body>
</html>
