{% extends "base_profile.html" %}
{% load staticfiles %}
{% block title %}<title>文章</title>{% endblock %}
{% block content %}
<div class="span9">
    <h1>
        文章
    </h1>
    <ul class="tasks zebra-list">
        {% for article in user_article %}
        <li>
            <a href="{% url 'blog:article_page' article.id %}">{{ article.title }}  创建于 {{ article.created_time }}</a>
            <button type="button" class="btn btn-default"><a href="{% url 'about:article_edit' article.id %}">编辑</a></button>
        </li>
        {% endfor %}

    </ul>
    <a class="toggle-link" href="#new-task"><i class="icon-plus"></i>新建文章</a>
    <form id="new-task" class="form-horizontal hidden">
        <fieldset>
            <legend>New Task</legend>
            <div class="control-group">
                <label class="control-label" for="textarea">Task Details</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="textarea" rows="2"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Create</button> <button class="btn">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
