{% extends "base_profile.html" %}
{% load staticfiles %}
{% block title %}<title>个人主页</title>{% endblock %}
{% block content %}
<div class="span9">
	<h1>
		编辑个人主页
	</h1>
	<form id="edit-profile" class="form-horizontal">
		<fieldset>
			<legend>个人信息</legend>
			<div class="control-group">
				<label class="control-label" for="input01">名字</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{ request.user.username }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">电话号码</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{ request.user.mobile_number }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">邮件</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{ request.user.email }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="fileInput">头像</label>
				<div class="controls">
					<input class="input-file" id="fileInput" type="file" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">个性签名</label>
				<div class="controls">
					<textarea class="input-xlarge" id="textarea" rows="4">{{ request.user.biography}}</textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="optionsCheckbox">公开个人信息</label>
				<div class="controls">
					<input type="checkbox" id="optionsCheckbox" value="option1" checked="checked" />
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}
